.mid-section-right-block {
    display: block;
    max-width: var(--responsive--alignwide-width) !important;
}

.mid-section-right-block-images {
    display: block;
}

.mid-section-right-block .top-img img,
.mid-section-right-block .bottom-img img {
    max-width: 700px;
}

.mid-section-right-block .top-img img {
    margin-right: 0;
    margin-top: 0;
    max-width: 500px;
}

.mid-section-right-block .bottom-img {
    margin-top: 0;
}

.mid-section-right-block .bottom-img img {
    margin-left: 0px;
}

.mid-section-right-block .paragraph {
    font-size: var(--global--font-size-xs);
    max-width: auto;
}

@media only screen and (min-width: 1000px) {
    .mid-section-right-block {
        display: flex;
    }
    .mid-section-right-block-images {
        display: flex;
    }
    .mid-section-right-block .paragraph {
        max-width: 300px;
    }
    .mid-section-right-block .top-img img {
        margin-right: -200px;
        margin-top: 150%;
    }
    .mid-section-right-block .bottom-img img {
        margin-left: -30px;
    }
}