.mid-section-left-block {
    display: block;
    max-width: var(--responsive--alignwide-width) !important;
}

.mid-section-left-block-images {
    display: block;
}

.mid-section-left-block .top-img img,
.mid-section-left-block .bottom-img img {
    max-width: 700px;
}

.mid-section-left-block .top-img img {
    margin-right: -150px;
}

.mid-section-left-block .paragraph {
    font-size: var(--global--font-size-xs);
    margin-left: 0;
}

@media only screen and (min-width: 1000px) {
    .mid-section-left-block {
        display: flex;
    }
    .mid-section-left-block-images {
        display: flex;
    }
    .mid-section-left-block .bottom-img img {
        margin-left: -150px;
        margin-top: 350px;
    }
    .mid-section-left-block .paragraph {
        max-width: 300px;
        align-self: flex-end;
    }
}