.mid-section-center-block {
    max-width: 100% !important;
}

.mid-section-center-block .paragraph {
    margin: 50px auto 35px auto;
    text-align: left;
    font-size: var(--global--font-size-xs);
    max-width: var(--responsive--alignwide-width);
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 700px) {
    .mid-section-center-block .paragraph {
        text-align: center;
    }
}