.header-block {
    position: relative;
    width: 100%;
    max-width: fit-content !important;
}

.header-block h1 {
    position: absolute;
    font-size: var(--global--font-size-xxxl);
    left: 140px;
    top: 15px;
    font-family: 'EB Garamond', serif;
}

.header-block h1 span {
    color: #ffffff;
}

.header-block .images img {
    max-width: 500px;
}

.header-block .images {
    display: flex;
}

.header-block .images .img-left {
    margin-right: 50px;
}

.header-block .images .img-right {
    margin-top: 300px;
    margin-left: 50px;
}